<!DOCTYPE html>
<html lang="en">

<head>

</head>

<!-- Main Content -->
<div class="main-content">
    <!-- Header -->
    <div class="header">
        <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>, Welcome to Home Care Center
    </div>

    <!-- Panels -->
    <div class="row g-4">
        <div class="col-md-6">
            <div class="panel panel-create" onclick="window.location.href='/user/create-job'">Create Job</div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-find" onclick="window.location.href='/user/find-job'">Find Jobs</div>
        </div>
    </div>
</div>